// email.handlebars
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{asgmt}} || Ishita Jain</title>
</head>
<body>
  <h2>Good Afternoon sir, </h2>
  <p>I'm sending the {{asgmt}} solution via NodeMailer.</p>
  <p>Thank you,</p>
  <p>Ishita Jain</p>
</body>
</html>